/* Desktop */
@media (min-width: 1008px) {
  .hide-on-desktop {
    display: none;
  }
}
/* Tablet */
@media (min-width: 641px) and (max-width: 1007px) {
  .hide-on-tablet {
    display: none;
  }
}
/* Mobile */
@media (max-width: 640px) {
  .hide-on-mobile {
    display: none;
  }
}
